* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #000; 
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('pageBack.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: #fff; 
    font-family: 'Arial', sans-serif;

}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('websiteBack.jpg');
    background-size: cover;
    background-position: center;
}
.page-banner{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('pageBack.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #6f7171;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content, .projects-content {
    color: #fff;
    font-family: 'Arial', sans-serif; 
    text-align: center;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p, .projects-content p, .projects-content li {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.projects-content ul {
    list-style-type:disc; 
    list-style-position: inside;
    padding: 0;
}

.project-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; 
}
.resume-content {     
    color: #fff;
    font-family: 'Arial', sans-serif; 
    padding: 20px;
    margin-top: 20px; 
    text-align: center;
}
.resume-content {
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.resume-content ol {
    list-style-type: disc;
    list-style-position: inside; 
}


.resume-content h1, .resume-content h2 {
    font-weight: bold;
}

.resume-content p {
    margin: 10px 0;
}
.profile-pic {
    width: 200px; 
    height: auto; 
    position: absolute;
    top: 120px; 
    left: 60px; 
}
.bio-content {
    background-color: #00000000; 
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align:center; 
    line-height: 1.6; 
    margin: 20px auto; 
    max-width: 800px; 
}

.bio-content p {
    margin-bottom: 20px; 
    text-align:center; 
}


.video-container {
    margin-top: 20px; 
    text-align: center; 
}

.video-container iframe {
    width: 80%; 
    height: 450px; 
    max-width: 560px; 
}
.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000; 
}
.personal-info img {
    max-width: 200px; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}
.personal-description {
    text-align: center; 
    color: #fff; 
    max-width: 50%; 
    margin: auto; 
}

.hobbies-content {
    color: #fff; 
    font-family: 'Arial', sans-serif; 
    text-align: center; 
    padding: 20px; 
    margin-top: 20px; 
}

.hobbies-content ul {
    list-style-type:disc; 
    list-style-position: inside;
    padding: 0;
}

.hobbies-content li {
    margin: 10px 0; 
    font-size: larger;
}
